{% extends "layout.html" %}

{% block pageTitle %}
AT design history
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="start.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-l">Choose the type of your Academy</h1>

  <form class="form" action="/url/of/next/page" method="post">



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Are you part of an MAT?
          </h1>
        </legend>
        <span id="changed-name-hint" class="govuk-hint">
          This includes two or more schools in your Trust.
        </span>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>



    <button class="govuk-button" data-module="govuk-button">Continue</button>

  </form>

</div>
</div>

{% endblock %}